@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-base: #242833;
  --color-text-muted: #909194;

  --color-surface-1: #ebf1ff;
  --color-surface-2: #d5e2ff;
  --color-surface-3: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #d5e2ff;

    --color-surface-1: #131825;
    --color-surface-2: #1c212c;
    --color-surface-3: #282d3a;
  }
}

body {
  font-family: "Inter", sans-serif;
  color: var(--color-text-base);
  background: var(--color-surface-1);
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
  }
}
